.header > .elem1 {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    background-color: #343434;

}
.header > .elem2 {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    text-transform: uppercase;
    font-size: 13px;
}
.elem1-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #ffffff;
}
.elem1-item {
    display: flex;
    align-items: center;
    padding-right: 20px;
    font-size: 13px;
}
.elem1-phone {
    font-weight: bolder;
}
.elem1-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}
.login {
    padding-right: 10px;
}
.help {
    padding-left: 5px;
}

.elem2 {
    display: flex;
    justify-content: space-between;
    background-color: black;
    text-transform: uppercase;
    font-size: 13px;
}
.menu {
    display: flex;
    padding: 42.5px ;
}
.elem2-list {
    display: flex;
    justify-content: space-between;
}
.elem2-item {
    display: flex;
    min-width: 100px;
    height: 100px;
    justify-content: center;
    padding-right: 37px;
}
.elem2-link {
    display: flex;
    align-items: center;
    color: #ffffff;
}
.elem2-linktext {
    padding-left: 8px;
}
.logo {
    display: flex;
    align-items: center;
    padding-left: 200px;
}
.elem2-list > .cart {
    display: flex;
    background-color: #59b7b3;
    padding-right: 0px;
    box-sizing: border-box;
}

