@media @mobile {
    .exclusive-block {
        & {
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            width: 100%;
            overflow: hidden;
        }
    }
}

@media @tablet-up {
    .exclusive-block {
        & {
            display: flex;
            flex-direction: row;
            padding: .9% 0;
        }

        > .showcase {
            flex-basis: 50%;
        }
    }
}

@media @desktop-up {
    .exclusive-block {
        & {
            justify-content: space-between;
        }

        > .showcase {
            flex-basis: 32.73%;
        }

        > .showcase > .btn {
            font-size: @relative-14;
            border: @border-secondary;
        }
    }
}