@media @mobile {
    .shop-block {
        & {
            display: flex;
            flex-direction: column;
            width: 100%;
            overflow: hidden;
        }
    }
}

@media @tablet-up {
    .shop-block {
        & {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        > .showcase {
            flex-basis: 50%;
        }
    }
}

@media @desktop-up {
    .shop-block {
        > .showcase {
            flex-basis: 25%;
        }

        > .showcase > .btn {
            font-size: @relative-14;
            border: @border-secondary;
        }
    }
}