@header-info-primary-color: @secondary-color;
@header-info-primary-fontsize: @relative-13;
@header-info-primary-font: @font-1;

@media @mobile {

    .info-block {
        & {
            background-color: #383839;
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            box-sizing: border-box;
            color: @header-info-primary-color;
            min-height: 30px;
        }

        > .box {
            display: flex;
            align-items: center;
            line-height: inherit;
            font-size: @header-info-primary-fontsize;
            font-weight: 700;
            font-family: @header-info-primary-font;
        }

        > .box > .text {
            margin-right: 12px;
        }

        > .link.-nav > .icon {
            width: 15px;
            height: 15px;
            margin-right: 6px;
        }

        > .link.-nav {
            justify-content: space-between;
            font: 400 @header-info-primary-fontsize @font-1;

            &:hover {
                background-color: transparent;

                & .text {
                    color: @color-3;
                }
                & .icon {
                    fill: @color-3;
                }
            }
        }

        > .link.-help > .text {
            padding-right: 7px;
        }

        > .link.-help > .icon {
            width: 8px;
            height: 5px;
        }
    }
}

@media @tablet-up {
    .info-block {
        & {
            justify-content: flex-end;
            padding-right: 18px;
        }

        > .link.-nav {
            margin-left: 20px;
        }
    }
}
