@import 'nav-wrap';

@header-nav-primary-color: @secondary-color;
@header-nav-background-color: @primary-color;
@header-nav-hover-color: @color-3;

@media @mobile {
    .nav-block {
        & {
            background-color: @header-nav-background-color;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            box-sizing: border-box;
            color: @header-nav-primary-color;
        }

        .icon {
            fill: @secondary-color;
            width: 26px;
            height: 25px;
        }

        > .box.-logo {
            position: absolute;
            top: 38%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        > .box.-logo > .icon {
            height: 34px;
            width: 175px;
            fill: @header-nav-primary-color;
        }

        > .box.-logo > .icon > .st1 {
            fill: @color-3;
        }

        > .link.-nav.-menu {
            padding: 0 20px;
            margin-right: auto;
            padding-top: 4px;
            flex-direction: column;
            min-height: 57px;
            justify-content: center;
        }

        > .link.-nav.-cart {
            padding: 0 25px;
            height: @def-height;
            background-color: @color-3;
            margin-bottom: 1px;
            min-height: 57px;
        }

        > .nav-wrap {
            width: 100%;
        }
    }
}

@media @tablet-up {
    .nav-block {
        > .link.-nav.-cart {
            order: 1;
            margin-bottom: 0;
            margin-left: 1px;
            min-height: 100px;
            padding: 0 37px;
        }

        > .link.-nav.-menu {
            min-height: 100px;
            padding: 0 30px;
        }

        > .link.-nav.-menu > .text {
            padding: 10px 0 0;
        }

        > .box.-logo {
            display: flex;
            top: 55%;
            left: 42%;
            padding: 0;
        }

        > .box.-logo > .icon {
            height: 45px;
            width: 243px;
        }

        > .nav-wrap {
            flex-grow: 0;
            width: auto;
        }
    }
}

@media @desktop-up {
    .nav-block {
        > .box.-logo {
            top: 55%;
            left: 50%;
        }
    }
}

@media @big-desktop {
    .nav-block {
        .link.-nav {
            font-size: @relative-13;
            font-weight: 700;
            text-transform: uppercase;
            flex-direction: row;
            justify-content: center;
        }

        > .link.-nav.-menu {
            padding: 0 37px;
            flex-direction: row;
        }

        > .link.-nav > .icon {
            margin-right: 10px;
        }

        > .link.-nav > .text {
            padding: 0;
        }
    }
}
