.item.-benefits {
    & {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
    }
    > .image {
        display: inline-block;
    }
    > .text.-adv {
        margin: 0px;
        color: #59b7b3;
        font-family: 'BrainFlower','Comic Sans MS','Comic Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 200%;
        text-transform: uppercase;
        padding-left: 5.25px;
    }
    > .text.-desc {
        margin: 0px;
        color: #59b7b3;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 5.25px;
        padding-top: 10.5px;
    }
}