//.item.-benefits {
//    & {
//        display: flex;
//        justify-content: center;
//        align-items: center;
//        color: @color-1;
//    }
//    > .icon {
//        display: inline-block;
//        width: 37px;
//        height: 34px;
//        fill: @color-1;
//        stroke: @color-1;
//    }
//    > .text.-adv {
//        margin: 0;
//        color: @color-1;
//        line-height: 3.2rem;
//        font-family: @font-4;
//        font-weight: 400;
//        font-size: 200%;
//        text-transform: uppercase;
//        padding-left: 5.25px;
//    }
//    > .text.-desc {
//        margin: 0;
//        color: @color-1;
//        font-size: .75rem;
//        font-family: @font-1;
//        font-weight: 700;
//        line-height: 1.2rem;
//        text-transform: uppercase;
//        padding-left: 5.25px;
//        padding-top: 10.5px;
//    }
//}
@media @mobile {
    .item.-benefits {
        & {
            display: flex;
            align-items: center;
            justify-content: center;
            color: @color-1;
            flex-grow: 1;
            flex-basis: 50%;
            padding: 10px 0;
        }
        > .text.-adv {
            margin: 0;
            color: @color-1;
            line-height: 1.6rem;
            font-family: @font-4;
            font-weight: 700;
            font-size: 1.3rem;
            text-transform: uppercase;
            padding-left: 5.25px;
        }
        > .text.-desc {
            margin: 0;
            color: @color-1;
            font-size: .62rem;
            font-family: @font-1;
            font-weight: 400;
            text-transform: uppercase;
            padding-left: 5.25px;
        }
        > .icon {
            display: inline-block;
            width: 32px;
            height: 30px;
            fill: @color-1;
            stroke: @color-1;
        }
    }
}

@media @tablet {
    .item.-benefits {
        & {
            flex-basis: 25%;
        }
    }
}

@media @desktop {
    .item.-benefits {
        > .text.-adv {
            line-height: 3.2rem;
            font-weight: 400;
            font-size: 2rem;
        }
        > .text.-desc {
            font-size: .75rem;
            font-weight: 700;
            line-height: 1.2rem;
        }
        > .icon {
            width: 37px;
            height: 34px;
        }
    }
}