.link.-btn {
    display: inline-block;
    box-sizing: border-box;
    width: @width;
    border: 2px solid @color;
    color: @color;
    min-height: @height;
    text-align: center;
    line-height: @height;
    text-transform: uppercase;
    font-size: @font-size;
    font-weight: 700;
    letter-spacing: normal;
    word-spacing: normal;
    font-family: @font-first;
}


