@media @mobile {
    .block.-col {
        & {
            box-sizing: border-box;
            width: 33%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        > .link {
            display: block;
            height: 95.59%;         // need fix
            padding-bottom: 10px;
        }
        > .link > .image {
            display: block;
            height: 98%;
            width: 100%;
        }
    }
}
