@benefit-block-primary-color: @color-3;
@benefit-block-background-color: #151415;

@media @mobile {
    .benefits-block {
        & {
            width: 100%;
            margin: 0;
            background-color: @benefit-block-background-color;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 0 10px;
            box-sizing: border-box;
            color: @benefit-block-primary-color;
        }

        > .item {
            padding-right: 5px;
        }

        .benefit-item {
            &:nth-child(2) {
                order: 1;
            }
        }

        > .benefit-item > .title {
            font-weight: 700;
        }
    }
}

@media @tablet-up {
    .benefits-block {
        > .benefit-item {
            flex-basis: 22%;

            &:nth-child(2) {
                order: 0;
            }
        }

        > .benefit-item > .title {
            font: 400 2rem/3.2rem @font-4;
        }
    }
}

@media @desktop-up {
    .benefits-block {
        > .benefit-item > .text.-desc {
            font-size: @relative-12;
            font-weight: 700;
            line-height: @relative-12;
        }

        > .benefit-item > .icon {
            width: 37px;
            height: 34px;
        }
    }
}
