.banner-block {
    & {
        width: 100%;
    }
    > .slide > .btn {
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    > .slide.-one > .btn {
        top: 55.6%;
        left: 85.2%;
    }
    > .slide.-two > .btn {
        top: 67%;
        left: 85.2%;
    }

    > .slide {
        display: flex;
        position: relative;
    }
}