.banner-wrap {

    > .banner.-one {
        .img-size;
        background-image: url("../img/banner2.jpg");
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        display: none;
    }
    > .banner.-one > .link {
        padding-bottom: 234px;
        padding-right: 202px;
    }
    > .banner.-two {
        .img-size;
        background-image: url("../img/banner1.jpg");
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    > .banner.-two > .link {
        padding-bottom: 234px;
        padding-right: 184px;
    }
}