.banner-wrap {
    & {
        min-height: 800px;
    }
    > .-big {
        width: 199px;
        height: 55px;
        font-size: 1.1rem;
        line-height: 55px;
    }
    > .banner.-one {
        min-height: 800px;
        background-image: url("../img/banner2.jpg");
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        display: none;
    }
    > .banner.-one > .block {
        padding-bottom: 234px;
        padding-right: 202px;
    }
    > .banner > .block > .btn.-big {
        width: 199px;
        height: 55px;
        font-size: 1.1rem;
        line-height: 55px;
    }
    > .banner.-two {
        min-height: 800px;
        box-sizing: border-box;
        background-image: url("../img/banner1.jpg");
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
    }
    > .banner.-two > .block {
        padding-bottom: 238px;
        padding-right: 186px;
    }
}