.banner-wrap {
    & {
        min-height: 800px;
    }

    > .banner.-one {
        .img-size;
        background-image: url("../img/banner2.jpg");
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        display: none;
    }
    > .banner.-one > .btn {
        padding-bottom: 234px;
        padding-right: 202px;
    }
    > .banner.-two {
        .img-size;
        box-sizing: border-box;
        background-image: url("../img/banner1.jpg");
        background-repeat: no-repeat;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 434px;
    }
    //> .banner.-two > .btn {
    //    padding-bottom: 234px;
    //    padding-right: 184px;
    //}
}