@import 'footer-info';
@import 'footer-signup';
@import 'footer-follow';

.footer-block {
    & {
        display: flex;
        background-color: @color-second;
        padding-left: 80px;
        box-sizing: border-box;
    }
    > .wrapper {
        padding-top: 40px;
    }
}