@import 'global/benefit-item';
.list.-benefits {
    & {
        margin: 0;
        background-color: #151415;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 72px;
    }
}