.list.-shop {
    & {
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    > .item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        height: 200px;
    }
    > .item > .btn {
        color: white;
        border: 2px solid white;
    }
    > .item.-men {
        background-image: url("../img/shoplist-men.png");
    }
    > .item.-women {
        background-image: url("../img/shoplist-women.png");
    }
    > .item.-kids {
        background-image: url("../img/shoplist-kids.png");
    }
    > .item.-sale {
        background-image: url("../img/shoplist-sale.png");
    }
}