.list.-brands {
    & {
        box-sizing: border-box;
        margin: 0;
        min-height: 102px;
        background-color: black;
        display: flex;
        align-items: center;
        padding: 0;
    }
    > .item {
        width: 7.14%;
        min-height: inherit;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: rgba(255,255,255,.3);
        }
    }
}