.list.-benefits {
    & {
        margin: 0px;
        background-color: #151415;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-left: 72px;
    }
    > .item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
    }
    > .item > .image {
        display: inline-block;
    }
    > .item > .text.-adv {
        margin: 0px;
        color: #59b7b3;
        font-family: 'BrainFlower','Comic Sans MS','Comic Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
        font-size: 32px;
        text-transform: uppercase;
        padding-left: 5.25px;
    }
    > .item > .text.-desc {
        margin: 0px;
        color: #59b7b3;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 5.25px;
        padding-top: 10.5px;
    }
}