.list.-shop {
    & {
        display: flex;
        justify-content: space-between;
        margin: 0px;
        padding: 0px;
        width: 100%;
    }
    > .item.-men {
        .shop-item;
        background-image: url("../img/shoplist-men.png");
    }
    > .item.-men > .btn {
        .shop-btn;
        padding-left: 154.5px;
    }
    > .item.-women {
        .shop-item;
        background-image: url("../img/shoplist-women.png");
    }
    > .item.-women > .btn {
        .shop-btn;
        padding-left: 153px;
    }
    > .item.-kids {
        .shop-item;
        background-image: url("../img/shoplist-kids.png");
    }
    > .item.-kids > .btn {
        .shop-btn;
        padding-left: 176px;
    }
    > .item.-sale {
        .shop-item;
        background-image: url("../img/shoplist-sale.png");
    }
    > .item.-sale > .btn {
        .shop-btn;
        padding-left: 180.5px;
    }
}