@import 'components/benefit-item';

.list.-benefits {
    & {
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: #151415;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
}