.text-dec() {
    padding-left: 12px;
    color: #ffffff;
}
.btn.-med {
    width: 159px;
    height: 44px;
    font-size: 0.88rem;
    line-height: 44px;
}
.title._huge {
    font-size: 35px;
}
.title._large {
    font-size: 30px;
}
.title._normal {
    font-size: 26px;
}
.product-item.-small {
    > .block > .details > .title {
        font-size: 1rem;
    }
}
.product-item.-big {
    > .block > .details > .title {
        margin: 12px 0px;
    }
}
@color-first: #59b7b3;
@font-first: 'SuperGroteskA','Helvetica Neue',Helvetica,Arial,sans-serif;
@font-second: "Proxima Nova Cond";
