.text-dec() {
    padding-left: 12px;
    color: #ffffff;
}
.btn.-med {
    width: 159px;
    height: 44px;
    font-size: 0.88rem;
    line-height: 44px;
}
.title.-huge {
    font-size: 35px;
}
.title.-large {
    font-size: 30px;
}
.title.-normal {
    font-size: 26px;
}
@color-first: #59b7b3;
@font-first: 'SuperGroteskA','Helvetica Neue',Helvetica,Arial,sans-serif;
@font-second: "Proxima Nova Cond";
