.nav-block {
    & {
        height: 100px;
        display: flex;
        justify-content: space-between;
        background-color: black;
        text-transform: uppercase;
        font-size: 13px;
    }
    > .box.-menu {
        display: flex;
        padding: 42.5px;
    }
    > .box.-menu > .link {
        display: flex;
        align-items: center;
    }
    > .box.-menu > .link > .text {
        .text-dec;
    }
    > .box.-logo {
        display: flex;
        align-items: center;
        padding-left: 200px;
    }
    > .list.-nav {
        display: flex;
        justify-content: space-between;
        margin: 0px;
    }
    > .list.-nav > .item {
        display: flex;
        min-width: 100px;
        height: 100px;
        justify-content: center;
        padding-right: 37px;
    }
    > .list.-nav > .item > .link {
        display: flex;
        align-items: center;
    }
    > .list.-nav > .item > .link > .text {
        .text-dec;
    }
    > .list.-nav > .item.-cart {
        display: flex;
        background-color: #59b7b3;
        padding-right: 0px;
        box-sizing: border-box;
    }
}