.header-block {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.info-block {
  margin: 0px;
  height: 30px;
  background-color: #343434;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #ffffff;
}
.info-block > .item {
  display: flex;
  align-items: center;
  padding-right: 20px;
  font-size: 13px;
}
.info-block > .link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}
.info-block > .item.-phone > .link {
  font-weight: bolder;
  padding-left: 12px;
  color: #ffffff;
}
.info-block > .item.-login > .link > .image {
  padding-right: 6px;
}
.info-block > .item.-login > .link > .text {
  color: #ffffff;
}
.info-block > .item.-help > .link > .text {
  padding-right: 7px;
  color: #ffffff;
}
.nav-block {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: black;
  text-transform: uppercase;
  font-size: 13px;
}
.nav-block > .box.-menu {
  display: flex;
  padding: 37.5px;
}
.nav-block > .box.-menu > .link {
  display: flex;
  align-items: center;
}
.nav-block > .box.-menu > .link > .text {
  padding-left: 12px;
  color: #ffffff;
  line-height: 2.15;
  padding-top: 4px;
}
.nav-block > .box.-logo {
  display: flex;
  align-items: center;
  padding-left: 373px;
  padding-bottom: 17px;
}
.nav-block > .list.-nav {
  display: flex;
  justify-content: space-between;
  margin: 0px;
}
.nav-block > .list.-nav > .item {
  display: flex;
  min-width: 100px;
  height: 100px;
  justify-content: center;
  padding-right: 8px;
  padding-top: 2px;
}
.nav-block > .list.-nav > .item > .link {
  display: flex;
  align-items: center;
}
.nav-block > .list.-nav > .item > .link > .text {
  padding-left: 12px;
  color: #ffffff;
  padding-right: 16px;
}
.nav-block > .list.-nav > .item.-cart {
  display: flex;
  background-color: #59b7b3;
  padding-right: 0px;
  box-sizing: border-box;
}
.banner-wrap {
  width: 100%;
}
.banner-wrap > .banner.-one {
  max-width: 100%;
  height: 800px;
  background-image: url("../img/banner2.jpg");
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  display: none;
}
.banner-wrap > .banner.-one > .link {
  padding-bottom: 234px;
  padding-right: 202px;
}
.banner-wrap > .banner.-two {
  max-width: 100%;
  height: 800px;
  background-image: url("../img/banner1.jpg");
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.banner-wrap > .banner.-two > .link {
  padding-bottom: 234px;
  padding-right: 176px;
}
.banner-wrap > .list.-benefits {
  margin: 0px;
  background-color: #151415;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0px;
}
.banner-wrap > .list.-benefits > .item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
}
.banner-wrap > .list.-benefits > .item > .image {
  display: inline-block;
}
.banner-wrap > .list.-benefits > .item > .text.-adv {
  margin: 0px;
  color: #59b7b3;
  font-family: 'BrainFlower', 'Comic Sans MS', 'Comic Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 32px;
  text-transform: uppercase;
  padding-left: 5.25px;
}
.banner-wrap > .list.-benefits > .item > .text.-desc {
  margin: 0px;
  color: #59b7b3;
  font-weight: bold;
  text-transform: uppercase;
  padding-left: 5.25px;
  padding-top: 10.5px;
}
.banner-wrap > .list.-shop {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.banner-wrap > .list.-shop > .item.-men {
  width: 25%;
  height: 200px;
  background-image: url("../img/shoplist-men.png");
}
.banner-wrap > .list.-shop > .item.-men .btn {
  display: inline-block;
  padding-top: 151px;
  padding-left: 155px;
}
.banner-wrap > .list.-shop > .item.-women {
  width: 25%;
  height: 200px;
  background-image: url("../img/shoplist-women.png");
}
.banner-wrap > .list.-shop > .item.-women .btn {
  display: inline-block;
  padding-top: 151px;
  padding-left: 155px;
}
.banner-wrap > .list.-shop > .item.-kids {
  width: 25%;
  height: 200px;
  background-image: url("../img/shoplist-kids.png");
}
.banner-wrap > .list.-shop > .item.-kids .btn {
  display: inline-block;
  padding-top: 151px;
  padding-left: 155px;
}
.banner-wrap > .list.-shop > .item.-sale {
  width: 25%;
  height: 200px;
  background-image: url("../img/shoplist-sale.png");
}
.banner-wrap > .list.-shop > .item.-sale .btn {
  display: inline-block;
  padding-top: 151px;
  padding-left: 155px;
}
