@import "components/good-item";

.block.-big {
    width: 25%;
    min-height: 715px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
}