.block.-small {
    & {
        width: 234px;
        min-height: 715px;
        margin: 0px 8px 10px 8px;
        display: flex;
        flex-direction: column;
    }
    > .link {
        display: inline-block;
    }
}