.nav.-add {
    & {
        display: flex;
        width: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    > .block {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
    }
    > .block > .btn {
        margin-right: 8px;
    }
}