@primary-color: #000;
@secondary-color: #fff;
@color-3: #59b7b3;

@font-0: 'Helvetica Neue','Helvetica','Arial',sans-serif;
@font-1: 'SuperGroteskA', @font-0;
@font-2: 'ProximaNova', @font-0;
@font-3: 'Open Sans', @font-0;
@font-4: 'BrainFlower','Comic Sans MS','Comic Sans',@font-0;
@font-5: 'ProximaNovaCond', @font-0;

@mobile: ~'(min-width: 386px)';
@big-mobile: ~'(min-width: 580px)';
@tablet-up: ~'(min-width: 768px)';
@desktop-up: ~'(min-width: 1200px)';
@big-desktop: ~'(min-width: 1420px)';

//  10px - .62rem
// 12px - .75rem
// 13px - .81rem
// 14px - .87rem
