.instagram-wrap {
    & {
        position: relative;
        display: flex;
        align-items: flex-end;
        background-color: @secondary-color;
        padding: 10px 10px 0;
        box-sizing: border-box;
        margin: 0 auto;

        &:last-child {
            padding-bottom: 10px;
        }
    }

    > .img {
        display: block;
        width: 100%;
    }

    > .box {
        display: flex;
        align-items: center;
        color: @secondary-color;
        font-family: @font-2;
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: @relative-14;
    }

    > .box > .image {
        margin-right: 10%;
    }

    &:first-child > .box.-like {
        top: 90%;
        left: 20%;
    }

    &:first-child > .box.-comment {
        top: 90%;
        left: 82%;
    }
    &:last-child > .box.-like {
        top: 87%;
        left: 19%;
    }

    &:last-child > .box.-comment {
        top: 88%;
        left: 82%;
    }
}