.btn.-med {
    width: 159px;
    height: 44px;
    font-size: .88rem;
    line-height: 44px;
}

.title.-huge {
    font-size: 35px;
}

.title.-large {
    font-size: 30px;
}

.title.-normal {
    font-size: 26px;
}
@color-1: #59b7b3;
@color-2: #000;
@color-3: #fff;

@font-1: 'SuperGroteskA','Helvetica Neue',Helvetica,Arial,sans-serif;
@font-2: 'Proxima Nova Cond', 'Helvetica Neue', Helvetica,Arial, sans-serif;
@font-3: 'Open Sans';
@font-4: 'BrainFlower','Comic Sans MS','Comic Sans','Helvetica Neue',Helvetica,Arial,sans-serif;

// 12px - .75rem
// 13px - .81rem
// 14px - .87rem
