:focus {
    outline: none;
}

button,
input {
    font-family: inherit;
}

body {
    min-width: 386px;
    height: 100%;
    font-style: normal;
    font-size: 16px;
    line-height: 1.15;
    font-family: @font-0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    background-color: transparent;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: 0;
}

.btn.-med {
    width: 159px;
    height: 44px;
    font-size: .88rem;
    line-height: 44px;
}

.title.-huge {
    font-size: 35px;
}

.title.-large {
    font-size: 30px;
}

.title.-normal {
    font-size: 26px;
}

.title.-small {
    font-size: 18px;
}

