@media @mobile {
    .wrapper.-instagram {
        & {
            width: 50%;
            margin: 0 auto;
            position: relative;

            //&::before {
            //    position: absolute;
            //    top: 5%;
            //    right: 0;
            //    bottom: 10px;
            //    left: 0;
            //    z-index: 0;
            //    border: 1px solid white;
            //    content: '';
            //    -webkit-transform: rotate(-9deg);
            //    -ms-transform: rotate(-9deg);
            //    transform: rotate(-9deg);
            //}
        }
        > .box.-caption {
            display: flex;
            font-size: @relative-14;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            font-family: @font-5;
            font-weight: 400;
            cursor: pointer;
            color: @primary-color;
            &:hover {
                color: @color-3;
            }
        }
        > .box.-caption > .icon {
            width: 15px;
            height: 15px;
            fill: currentColor; //need fix
        }
        > .box.-instagram {
            margin: 10px auto 0;
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
        }
    }
}

@media @big-mobile-up {
    .wrapper.-instagram {
        & {
            width: 42%; //38%
            margin: 0 0 2%;

            //&::before {
            //    top: 25px;
            //    right: 32px;
            //    bottom: 0;
            //    left: 32px;
            //}
        }
    }
}

@media @desktop-up {
    .wrapper.-instagram {
        & {
            width: auto;
            align-self: flex-end;
            margin-bottom: 10.6%;
            margin-left: 7.9%;
        }

        > .box.-instagram {
            flex-wrap: nowrap;
            flex-direction: column;
        }

        > .box.-caption {
            font-size: @font-size;
            justify-content: flex-start;
        }

        > .box.-caption > .icon {
            width: 20px;
            height: 20px;
            padding-right: 3%;
        }

        > .box.-instagram > .instagram-wrap > .text {
            font-size: @relative-12;
        }
    }
}

@media @big-desktop {
    .wrapper.-instagram {
        & {
            margin-left: 13%;
        }
    }
}