.product-item.-small {
    > .box {
        background-color: @secondary-color;
        width: 233px;
        padding-bottom: 31px;
    }
    > .box > .details > .btn {
        color: @color-3;
        border: 2px solid @color-3;
        &:hover {
            color: @secondary-color;
            background-color: @color-3;
        }
    }
    > .box > .details > .title {
        font-size: 1rem;
    }
}