.wrap.-input {
    & {
        width: 628px;
        margin-bottom: 12px;
    }
    > .btn {
        padding-top: 3%;
        cursor: pointer;
        &:hover {
            color: @primary-color;
            background-color: @secondary-color;
        }
    }
}