.banner.-find {
    & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        background-image: url('../../img/findstore-bgs.png');
        background-repeat: no-repeat;
        width: 628px;
        min-height: 167px;
        border: 1px solid @color-3;
        box-sizing: border-box;
    }
    > .title {
        font-size: 2.06rem;
        color: @color-3;
        padding-top: 20px;
        padding-right: 24px;
    }
    > .text {
        color: @secondary-color;
        font-size: .75rem;
        margin: 0;
        padding: 12px 24px 0 0;
        line-height: normal;
        text-align: right;
        font-weight: 400;
        font-family: @font-2;
    }
    > .link {
        text-transform: uppercase;
        text-decoration: underline;
        color: @color-3;
        font-size: .81rem;
        font-family: @font-1;
        font-weight: 700;
        padding: 15px 24px 26px 0;
    }
}